*.o
*.wav
!samples/*.wav
*.py
qwen_tts
qwen_tts_py/
venv/
venv312/
.venv/
qwen3-tts-0.6b/
qwen3-tts-1.7b/
qwen3-tts-0.6b-base/
qwen3-tts-1.7b-base/
qwen3-tts-voice-design/
__pycache__/
.DS_Store
TODO.md
weights.bin
.claude/
